.pill_container {
  width: 700px;
  display: flex;
  border: 1px solid #ddd;
  flex-direction: column;
}

.pill_buttons {
  flex-wrap: wrap;
  flex: 1;
  display: flex;
  padding: 5px;
}

.pill_button {
  background-color: #ddd;
  border: 1px solid #f3f3f3 !important;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.pill_button_selected {
  background-color: white;
  /* border: 1px solid #dcfce7 !important; */
  border: 1px solid #7bc62d !important;
  border: none;
  color: black;
  padding: 10px 10px;
  padding-right: 15px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.pill_button_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.pill_select_all {
  border-radius: 5px;
}

.pill_button:hover {
  background-color: #f3f3f3;
}

.dynamic_contents {
  flex: 9;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-bottom: 0px;
  border: 1px solid blue;
  flex-wrap: wrap;
  width: 680px;
  height: 412px;
}

.sized_box {
  width: 200px;
  height: 200px;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
